# .env

# --- Безопасность и аутентификация ---
INTERNAL_API_SECRET=my_extremely_safety_internal_api_secret
REQUIRE_AUTH=true
HF_TOKEN=my_HF_access_token

# --- Для бэкенда transformers ---
DEVICE=cuda # cpu 
# Флаг для включения Flash Attention — ускоренного механизма внимания, 
# снижающего память и время инференса на GPU. Работает только на NVIDIA (CUDA) 
# с определёнными версиями PyTorch и модели.
USE_FLASH_ATTENTION=false 

# ВАЖНО: фиксированная папка, не HF cache
MODELS_ROOT=./models

# --- Ограничения ---
MAX_IMAGE_SIZE_MB=10  # Максимальный размер файла
MAX_IMAGE_DIMENSION=2000  # Max ширина/высота после ресайза

# --- Очереди и таймауты ---
INPUT_QUEUE_MAXSIZE=100
PROCESS_TIMEOUT=90.0

WAIT_FOR_BACKEND_TIMEOUT=600.0 # даем побольше, чтобы хватило на скачивание модели

# --- Rate limiting ---
RATE_LIMIT_OCR=30/minute
RATE_LIMIT_HEALTH=100/minute

# --- Логирование ---
LOG_PATH=logs
LOGGING_LEVEL=DEBUG
DOCKER_ENV=true